//
// Mixins
//

// font-size mixin

@mixin font-size($size) {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
}

// button mixin
@mixin btn($white, $main-color) {
    @include font-size(16);
    color: #fff;
    border: 2px solid $main-color;
    margin: 0 10px;
    padding: 12px 18px;
    text-transform: uppercase;
}

//
// Media Queries mixin. 
// Suppor min-width, you can pass it a varible
// or specific values
//
// usage example:
//
// @include mquery("medium") {
//    content
// }
//
// or
//
// @include mquery(690px) {
//    content
// }
//

@mixin mquery($breakpoint) {
    $val: map-getter($site-breakpoints, $breakpoint);

    @if $val == false {
        @if type-of($breakpoint) == number {
            @media only screen and ("min-width": $breakpoint) {
                @content;
            }
        }
        @else {
            @error "QUERY MIXINS ERROR - INVALID ARGUMENT";
        }
    }
    @else {
        @media only screen and ("min-width": $val) {
            @content;
        }
    }
}
